<div>
  <h2 id="page-heading" data-cy="ConsentementInformatiseHeading">
    <span>ConsentementInformatises</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-consentement-informatise"
        [routerLink]="['/projetmicroservice/consentement-informatise/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span>Créer un nouveau Consentement Informatise</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (consentementInformatises?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span>Aucun Consentement Informatise trouvé</span>
    </div>
  }

  @if (consentementInformatises && consentementInformatises.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span>ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="informationsPatient">
              <div class="d-flex">
                <span>Informations Patient</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="consentementObtenu">
              <div class="d-flex">
                <span>Consentement Obtenu</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (consentementInformatise of consentementInformatises; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/projetmicroservice/consentement-informatise', consentementInformatise.id, 'view']">{{
                  consentementInformatise.id
                }}</a>
              </td>
              <td>{{ consentementInformatise.informationsPatient }}</td>
              <td>{{ consentementInformatise.consentementObtenu }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/projetmicroservice/consentement-informatise', consentementInformatise.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline">Voir</span>
                  </a>

                  <a
                    [routerLink]="['/projetmicroservice/consentement-informatise', consentementInformatise.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline">Editer</span>
                  </a>

                  <button
                    type="submit"
                    (click)="delete(consentementInformatise)"
                    class="btn btn-danger btn-sm"
                    data-cy="entityDeleteButton"
                  >
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline">Supprimer</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
