<div>
  <h2 id="page-heading" data-cy="PatientHeading">
    <span>Patients</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-patient"
        [routerLink]="['/projetmicroservice/patient/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span>Créer un nouveau Patient</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (patients?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span>Aucun Patient trouvé</span>
    </div>
  }

  @if (patients && patients.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span>ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="nom">
              <div class="d-flex">
                <span>Nom</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="prenom">
              <div class="d-flex">
                <span>Prenom</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="historiqueMedical">
              <div class="d-flex">
                <span>Historique Medical</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="dossierPatient.id">
              <div class="d-flex">
                <span>Dossier Patient</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="consentementInformatise.id">
              <div class="d-flex">
                <span>Consentement Informatise</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (patient of patients; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/projetmicroservice/patient', patient.id, 'view']">{{ patient.id }}</a>
              </td>
              <td>{{ patient.nom }}</td>
              <td>{{ patient.prenom }}</td>
              <td>{{ patient.historiqueMedical }}</td>
              <td>
                @if (patient.dossierPatient) {
                  <div>
                    <a [routerLink]="['/projetmicroservice/dossier-patient', patient.dossierPatient.id, 'view']">{{
                      patient.dossierPatient.id
                    }}</a>
                  </div>
                }
              </td>
              <td>
                @if (patient.consentementInformatise) {
                  <div>
                    <a [routerLink]="['/projetmicroservice/consentement-informatise', patient.consentementInformatise.id, 'view']">{{
                      patient.consentementInformatise.id
                    }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/projetmicroservice/patient', patient.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline">Voir</span>
                  </a>

                  <a
                    [routerLink]="['/projetmicroservice/patient', patient.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline">Editer</span>
                  </a>

                  <button type="submit" (click)="delete(patient)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline">Supprimer</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
